.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.App { 
    background-color: rgba(255, 255, 255, 0.5);
}
.brush {
    position: absolute;
    z-index: -1;
    border-radius: 30px;
}
.images{
    display: flex;
    justify-content: space-around;
    margin: 3%;

}
body {    
    background-image: url("Q&A2.jpg");
    background-size: cover;
    
}
h1, h4 {
    font-family: 'Cormorant Garamond', serif;
    padding: 20px;
    font-weight: bolder;
}
h4 {
    text-align: center;
    font-size: 21px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);

}
h1 {
    position: relative;
    margin-top: 50px;
}
.apiBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 43%;
}
.showAdvice {
text-align: center;
font-family: 'Cormorant Garamond', serif;
font-size: 20px;
background-color: rgba(255, 255, 255, 0.5);
}
.btn {
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    background-color: #FCE2DB;
    border-color: #CFD2CF;
}